#include "Shared.xcconfig"

BUNDLE_ID_SUFFIX =
APERTURE_ENVIRONMENT_NAME = production

APERTURE_API_BASE_URL = https:/$()/api.aperture.example
APERTURE_OAUTH_CLIENT_ID = aperture-ios-production
APERTURE_DIAGNOSTICS_ENABLED = NO

SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
ENABLE_TESTABILITY = NO
VALIDATE_PRODUCT = YES
STRIP_INSTALLED_PRODUCT = YES
COPY_PHASE_STRIP = YES
