#include "Shared.xcconfig"

BUNDLE_ID_SUFFIX = .staging
APERTURE_ENVIRONMENT_NAME = staging

APERTURE_API_BASE_URL = https:/$()/api.staging.aperture.example
APERTURE_OAUTH_CLIENT_ID = aperture-ios-staging
APERTURE_DIAGNOSTICS_ENABLED = YES

SWIFT_ACTIVE_COMPILATION_CONDITIONS = APERTURE_DIAGNOSTICS
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
ENABLE_TESTABILITY = NO
VALIDATE_PRODUCT = YES
